<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdUserManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AdUserManager.Properties.Settings>
            <setting name="dc_address" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="users_dn" serializeAs="String">
                <value>OU=Managed,OU=AD Users,DC=example,DC=com</value>
            </setting>
            <setting name="groups_dn" serializeAs="String">
                <value>OU=Managed,OU=Groups,DC=example,DC=com</value>
            </setting>
            <setting name="domain_name" serializeAs="String">
                <value />
            </setting>
            <setting name="managers_group_dn" serializeAs="String">
                <value />
            </setting>
            <setting name="logging_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expiration_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expiration_date" serializeAs="String">
                <value>2020-01-01</value>
            </setting>
            <setting name="expiration_extend_period" serializeAs="String">
                <value>year</value>
            </setting>
        </AdUserManager.Properties.Settings>
    </userSettings>
</configuration>